@font-face {
    font-family: 'MotelKing';
    src: local('MotelKing'), local('MotelKing'), url('MotelKing.woff2') format('woff2'), url('MotelKing.woff') format('woff'), url('MotelKing.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
